{% extends 'layout.html' %}

{% block set_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="welcome-container">
        <h1>Bienvenido {{ name }}</h1>
        <div class="actions-container">
            <a class="logout" href="/auth/logout"> <span class="material-symbols-outlined"> logout </span> Cerrar sesion</a>
            <a class="delete" href="/auth/delete-account"> <span class="material-symbols-outlined"> delete </span> Eliminar mi cuenta </a>
        </div>
        
    </div>
        
{% endblock %}
    