{% extends 'layout.html' %}

{% block set_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/index.css') }}">
{% endblock %}

{% block body %}
    <div class="welcome-container">
        <h1>Bienvenido {{ name }}</h1>
        <div class="actions-container">
            <a id="logout" class="action" href="/auth/logout"> <span class="material-symbols-outlined"> logout </span> Cerrar sesion</a>
            <a id="delete" class="action" href="javascript:void(0);" onclick="mostrarModal(this)" modal-url = "auth/delete-account"> <span class="material-symbols-outlined"> delete </span>Eliminar mi cuenta</a>
            <a id="update" class="action" href="/auth/update-password"><span class="material-symbols-outlined"> update </span> Cambiar mi contraseña </a>
        </div>
        
    </div>
    
    {% include 'modal.html'   %}

{% endblock %}
    