{% extends 'layout.html' %}

{% block set_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
{% endblock %}

{% block body %}
    <div class="card">
        <h2>Login</h2>
        <div class="form-container">
            <form action="/auth/login" method="post">
                <input class="input-group" type="text" placeholder="Username" name="username" autocomplete="off" required>
                <input class="input-group" type="password" placeholder="Password" name="password" autocomplete="off" required>
                <button class="submit-button" type="submit">Ingresar</button>
            </form>
            <h5> No tienes una cuenta? </h5>
            <h5> Creala <a class="register-redirect" href="/auth/register"> aqui</a> </h5>

        </div>
    </div>

    {% include 'flash.html'   %}

{% endblock %}
    
