{% extends 'layout.html' %}

{% block set_style %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename = 'css/register.css') }}">

{% endblock %}

{% block body %}
    <div class="card">
        <h2>Crear una cuenta</h2>
        <div class="form-container">
            <form action="/auth/register" method="post">
                <h4 class="input-label">Nombre</h4>
                <input class="input-group" type="text" placeholder="Username" name="username" autocomplete="off" required>
                <input class="input-group" type="text" placeholder="Confirm username" name="confirm-username" autocomplete="off" required>

                <h4 class="input-label">Contraseña</h4>
                <input class="input-group" type="password" placeholder="Password" name="password" autocomplete="off" required>
                <input class="input-group" type="password" placeholder="Confirm password" name="confirm-password" autocomplete="off" required>
                <button class="submit-button" type="submit">Crear cuenta</button>
            </form>
            <h5> Ya tienes una cuenta? </h5>
            <h5> Inicia sesion <a class="register-redirect" href="/auth/login"> aqui</a> </h5>

        </div>
    </div>

    {% include 'flash.html'   %}

{% endblock %}